.view {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  gap: var(--space-2xl);
  padding-top: var(--space-xl);
}

.heading {
  margin: 0;
  font-family: var(--font-base);
  font-weight: var(--font-weight-light);
  font-size: var(--typo-title-font-size);
  line-height: var(--typo-title-line-height);
  text-transform: uppercase;
}

.emptyFooter {
  display: flex;
  margin-top: var(--space-base);
}

.continue {
  justify-content: center;
  white-space: nowrap;
}

@media (min-width: 768px) {
  .heading {
    font-size: var(--typo-display-font-size);
    line-height: var(--typo-display-line-height);
  }

  .view {
    gap: var(--space-3xl);
    padding-top: var(--space-3xl);
  }
}