.view {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  padding-top: var(--space-xl);
}

.heading {
  margin: 0;
  font-family: var(--font-base);
  font-weight: var(--font-weight-light);
  font-size: var(--typo-title-font-size);
  line-height: var(--typo-title-line-height);
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .heading {
    font-size: var(--typo-display-font-size);
    line-height: var(--typo-display-line-height);
  }

  .view {
    padding-top: var(--space-3xl);
  }
}
