.section {
  display: flex;
  flex-direction: column;
  gap: var(--space-md);
  width: 100%;
  padding-top: var(--space-3xl);
}

.search {
  width: 100%;
  height: var(--height-search);
  border-bottom: var(--stroke-thin) solid var(--color-text);
}

.countLine {
  height: var(--typo-label-line-height);
  width: 120px;
  background: var(--color-skeleton);
}
