.main {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: var(--width-catalog);
  margin-inline: auto;
  padding: 0 var(--space-container) var(--space-3xl);
}
