.page {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 var(--space-container) var(--space-3xl);
  gap: var(--space-3xl);
}

.toolbar {
  display: flex;
  flex-direction: column;
  gap: var(--space-md);
  width: 100%;
}
